body {
    margin: 0;
}
fieldset {
    border: none;
}

input {
    text-align: center;
}
form {
    text-align: center;
}
#submitname {
    margin: 10px auto;
}
div.ui-dialog-titlebar.ui-widget-header.ui-corner-all.ui-helper-clearfix {
    text-align: center;
}
div.ui-dialog.ui-widget.ui-widget-content.ui-corner-all.ui-front.ui-draggable.ui-resizable {
    width: 290px !important;
    margin: 50px auto;
    font-size: 10pt;
    position: relative !important;
}
div#contentwrapper {
}
div#contentwrapper.modaloverlay {
    opacity: 0.3;
}

#gameframediv {
    text-align: center;
    margin: 40px auto 0;
}

#gameframewrapper {
    background-image: url('dbcicon.png');
    background-size: 90%;
    background-repeat: no-repeat;
    margin: 10px auto;
    max-width: 900px;
    height: 340px;
    -webkit-animation-delay: 1.5s;
    -o-animation-delay: 1.5s;
    animation-delay: 1.5s;
}

nav {
    background-color: gray;
    margin: 0;
    padding: 15px;
    display: none;
}

.display {
    display: inherit;
}

#playericon {
    text-align: center;
}

#neutralicon {
    width: 10%;
    height: auto;
    opacity: 0.6;
}

#vs {
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1s;
    text-align: center;
}
#weaponscreen {
    display: none;
    text-align: center;
}

#windowsdeathscreen {
    display: none;
    text-align: center;
}

#weaponswrapper {
    text-align: center;
}
.weapondiv {
    display: inline-block;
    width: 30%;
}

.weaponimg {
    width: 100%;
    height: 200px;
}

.answerentry {
    margin: 35px auto;
}

.answerentryinput {
    width: 300px;
}

.jobentryinput {
    width: 300px;
}

.jobentryinput2 {
    width: 300px;
}

.yogaentryinput {
    width: 300px;
}

.yogaentryinput2 {
    width: 300px;
}

.fullHoursentryinput {
    width: 300px;
}

.fullHoursentryinput2 {
    width: 300px;
}

.sleepentryinput {
    width: 300px;
}

.sleepentryinput2 {
    width: 300px;
}

.motivationentryinput {
    width: 300px;
}

.motivationentryinput2 {
    width: 300px;
}

#weaponoptions {

}

.startoverbtn {
    clear: both;
}

#afterweaponmacscreen {
    display: none;
    text-align: center;
}

#afterweaponubuntuscreen {
    display: none;
    text-align: center;
}

#afterjobscreentrue {
    display: none;
    text-align: center;
}

#afterjobscreenfalse {
    display: none;
    text-align: center;
}

#afteryogascreentrue {
    display: none;
    text-align: center;
}

#afteryogascreenfalse {
    display: none;
    text-align: center;
}

#afterfullHoursscreentrue {
    display: none;
    text-align: center;
}

#afterfullHoursscreenfalse {
    display: none;
    text-align: center;
}

#aftersleepscreentrue {
    display: none;
    text-align: center;
}

#aftersleepscreenfalse {
    display: none;
    text-align: center;
}

#aftermotivationscreentrue {
    display: none;
    text-align: center;
}

#aftermotivationscreenfalse {
    display: none;
    text-align: center;
}

#bootcrush {
    background-image: url('dbcicon.png');
    background-size: 90%;
    background-repeat: no-repeat;
    margin: 30px auto;
    max-width: 900px;
    height: 340px;
    -webkit-animation-delay: 1s;
    -o-animation-delay: 1s;
    animation-delay: 1;
}