 </div>
       <footer>
            <div id="footer-quote">
                <div class="container">
                    <div class="contents">
                        <div class="quote-icon">
                            <i class="fa fa-quote-right"></i>
                        </div>
                        <span class="quote-name">Percy Bysshe Shelley</span>
                        <div class="quote-text">
                            The soul's joy lies in <span class="colored-text">doing</span>.
                        </div>
                    </div>
                </div>
            </div>
            <div id="bottom">
                <div class="container foot">
                    <ul id="social-icons">
                        <li><a href="http://github.com/cfeusier"><i class="fa fa-github"></i></a></li>
                        <li><a href="http://twitter.com/clarkfeusier"><i class="fa fa-twitter"></i></a></li>
                        <li><a href="http://facebook.com/cfeusier"><i class="fa fa-facebook"></i></a></li>
                        <li><a href="http://linkedin.com/in/clarkfeusier"><i class="fa fa-linkedin"></i></a></li>
                    </ul>
                    <div id="copyright">© COPYRIGHT 2014 Clark Feusier</div>
                    <a id="home-circle" href="{{site.url}}"><i class="fa fa-home"></i></a>
                </div>
            </div>
       </footer>
       <script type="text/javascript" src="{{site.url}}/js/jquery-1.11.0.min.js"></script>
       <script type="text/javascript" src="{{site.url}}/js/custom.js"></script>
    </body>
</html>