.nav-drawer-border-bottom {
  border-bottom-style: solid;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border-bottom-width: thin;
  border-bottom-color: rgba(0, 0, 0, 0.12) !important;
}
.hover {
  cursor: pointer;
}
.nuxt-link-active {
  // TODO
  color: var(--v-primary-darken1);
  background-color: var(--v-secondary-base);
}
