.ml-n-10 {
  margin-left: -10px !important;
}
.mt-20 {
  margin-top: 20px !important;
}
.mb-20 {
  margin-bottom: 20px !important;
}
.p-10 {
  padding: 10px;
}
.p-20 {
  padding: 20px;
}
.hover {
  cursor: pointer;
}
.nuxt-link-active {
  // TODO
  color: var(--v-primary-darken1);
  background-color: var(--v-secondary-base);
}

