.p-text {
  color: var(--v-primary-base) !important;
  caret-color: var(--v-primary-base) !important;
}

.p-text-dark {
  color: var(--v-primary-darken1) !important;
  caret-color: var(--v-primary-darken1) !important;
}

.p-text-light {
  color: var(--v-primary-lighten1) !important;
  caret-color: var(--v-primary-lighten1) !important;
}

