body {
    width: 100%;
    height: 100%;
    margin: auto;
    padding-bottom: 58px;
}
html {
    min-height: 100%;
    position: relative;
}
html::before {
    content:"";
    background: url("../images/code_background.jpg") repeat center center fixed;
    background-repeat: repeat-y;
    width: 100%;
    height: 100%;
    opacity: 0.09;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    position: absolute;
    z-index: -1;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}
header {
    background-color: #B26C02;
    width: 100%;
    height: auto;
    margin: 0;
    padding: 0;
    border: 10px double lightgrey;
    border-bottom-left-radius: 45px;
    box-sizing: border-box;
}
header a:link {
    font-size: 9pt;
    color: #402C21;
    font-family:'Cabin', sans-serif;
    margin: 4px;
}
#brand {
    text-decoration: none;
    font-size: 22pt;
    color: #402C21;
    text-shadow: 1px 0.5px black;
    font-family:'Cabin', sans-serif;
    font-weight: bold;
    margin: -5px 0 10px;
    display: inline-block;
}
#navright {
    float: right;
    display: inline-block;
    margin: 15px;
}
footer {
    background-color: #B26C02;
    width: 100%;
    height: auto;
    margin: 0px;
    padding: 0px;
    border: 10px double lightgrey;
    border-bottom-left-radius: 45px;
    box-sizing: border-box;
    display: block;
    position:fixed;
    bottom: 0px;
    clear: both;
}
/* IE 6 */
 * html #footer {
    position:absolute;
    top:expression((0-(footer.offsetHeight)+(document.documentElement.clientHeight ? document.documentElement.clientHeight : document.body.clientHeight)+(ignoreMe=document.documentElement.scrollTop ? document.documentElement.scrollTop : document.body.scrollTop))+'px');
}
#containermax {
    box-sizing: border-box;
    margin: auto;
}
h1, h2, h3, h4, h5, h6, blockquote {
    font-family:'Cabin', sans-serif;
    margin: 10px 0;
}
p, a {
    font-family:'Cabin', sans-serif;
    color: lightgrey;
    font-size: 11pt;
    margin: 8px auto 8px auto;
}
h2, h3 a {
    color: #B26C02;
}
blockquote {
    color: #B26C02;
}
h2, h3 {
    color: #402C21;
    opacity: 0.9;
}
li {
    font-family:'Cabin', sans-serif;
    color: lightgrey;
    font-size: 11pt;
    margin: 8px auto 8px auto;
}
.bodycontent p {
    color: #402C21;
    text-align: left;
}
.bodycontent li {
    color: #402C21;
    text-align: left;
}
#about_section {
    background-color: #402C21;
    margin: 10px auto;
    width: 97%;
    height: auto;
    padding: 5px 15px;
    border: 10px double #B26C02;
    border-radius: 20px;
    clear: both;
    box-sizing: border-box;
}
#about_section p {
    font-size: 13pt;
}
footer a:link {
    text-decoration: none;
    font-size: 9pt;
    color: lightgrey;
    font-family:'Cabin', sans-serif;
    margin: 4px;
}
#footerhome {
    font-size: 15pt;
    margin: 0px 22px;
}
#footerright {
    float: right;
    display: inline;
    margin: 5px;
}
#footerleft {
    float: left;
    display: inline-block;
    margin: 2px 6px;
}
.bodycontentwrap {
    width: 97%;
    margin: auto;
    box-sizing: border-box;
}
.bodycontent {
    float: left;
    width: 69%;
    height: auto;
    margin: 8px 0px 20px;
    padding: 0px 15px 15px;
    border: 10px double #B26C02;
    border-radius: 20px;
    box-sizing: border-box;
    text-align: center;
}
#bodysidebar {
    background-color: #B26C02;
    float: right;
    width: 30%;
    height: auto;
    margin: 8px auto 0px;
    padding: 10px 20px;
    border: 10px double lightgrey;
    border-radius: 20px;
    box-sizing: border-box;
}
#authorimg {
    margin: auto 10px;
    width: 40%;
    float: left;
    display: inline-block;
}
h2#authortextheading {
    margin: 0 auto;
    color: #402C21;
}
h3#bottomhalfheader {
    margin: 0 auto;
    color: #402C21;
    text-align: center;
}
ul {
    margin: 2px;
}
#latestheader {
    color: #B26C02;
}
.bodycontent a {
    font-family:'Cabin', sans-serif;
    color: #B26C02;
    font-size: 12pt;
    margin: 8px auto 8px auto;
    text-align: left;
    box-sizing: border-box;
}
img#homeicon {
    opacity: 0.62;
}
img#homeicon:hover {
    opacity: 1;
}
a.postlinklist {
    font-size: 12pt;
}
.exampleimg {
    margin: 0 13px;
}
@media (max-width: 900px) {
    #bodysidebar {
        background-color: #B26C02;
        width: 100%;
        height: auto;
        margin: auto auto 15px;
        padding: 10px 15px;
        border: 10px double lightgrey;
        border-radius: 20px;
        box-sizing: border-box;
    }
    .bodycontent {
        width: 100%;
        height: auto;
        margin: 8px 0px 15px;
        padding: 0px 15px 15px;
        border: 10px double #B26C02;
        border-radius: 20px;
        box-sizing: border-box;
        text-align: center;
    }
    #authorimg {
        margin: auto 10px;
        width: 20%;
        float: left;
        display: inline-block;
    }
}
.subjectpageimg {
    width: 95%;
    border: 1.8px solid #B26C02;
}
@media (max-width: 600px) {
    .exampleimg {
        width: 100%;
        margin: 0 5px;
    }
}
