#sheetmainid p {
    text-align: center;
    font-size: 13pt;
}

p#noteid {
    font-size: 9pt;
    text-align: center;
    font-style: italic;
}

#sqltitle {
    color: #402C21;
}

.relationship {
    color: #402C21;
    font-size: 16.5pt;
}