header {
	background-color: red;
}
#main {
	background-color: blue;
	max-width: 70%;
	margin: 0 auto;
}
h1 {
	font-size: 2.5em;
	margin: 0;
}
#driver {
	background-color: black;
	width: 45%;
	height: 400px;
	display: inline-block;
	color: gray;
	padding: 4px;
}
#navigator {
	background-color: green;
	width: 45%;
	height: 400px;
	float: right;
	display: inline-block;
	padding: 4px;
}
footer {
	background-color: black;
	height: 20px;
	position: fixed;
	bottom: 0;
	width: 100%;
	padding: 10px;
}
body {
	margin: 0;
}
#names {
	display: block;
	color: gray;
	margin-left: 30px;
	font-size: 1.5em;
}
h2 {
	color: gray;
	padding-top: 10px;
}